@font-face {
	font-family: 'manga';
	src: url(fonts/Manga.otf);
}

.insert {
	background-color: #5ecbff;
}

.insert nav{
	text-align: center;

}

.manga h2 {
	text-align: center;
	font-family: 'manga';
}

.manga h3 {
	color: white;
}

.review ul {
	list-style-type: none;
}


