@font-face {
	font-family: 'manga';
	src: url(fonts/Manga.otf);
}

.body {
	background: #5ecbff;
}

.body h1 {
	font-family: manga;
}

.body a {
	text-decoration: none;
}

#nav ul {
	list-style-type: none;
}

#nav li {
	display: inline-block;
}

#nav li a {
	color: black;
	padding: 0 30px;
	text-duration: none;
	display: flex;
	align-items: center;
}

#nav li:first-child {
	margin-right: auto;
}

#nav a:hover {
	background: lightskyblue;
}

